body {
    line-height: 1;
    background-color: rgb(16, 47, 88);
}


#contenedor1 {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    float: left;
    width: 41%;
    margin: 30px;
    height: 400px;
    padding: 20px;
    background-color: rgb(253, 253, 237);
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#contenedor1 h1 {
    text-align: center;
}

#numero1 {
    margin-bottom: 15px;
    margin-top: 15px;
}

#numero2 {
    margin-bottom: 15px;
    margin-top: 15px;
}

button {
    margin-top: 15px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    background: #f091a1;
    border-radius: 5px;
    padding: 13px;
    border: 0;
    color: inherit;
}

#contenedor2 {
    float: left;
    width: 41%;
    margin: 30px;
    padding: 16px;
}

#contenedor2 div{
    padding: 10px;
    margin-bottom: 30px;
    width: 250px;
    background-color: rgb(253, 253, 237);
    border-radius: 5px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

#contenedor2 div p{
    font-size: 20px;
}

#contenedor2 div:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}