body{
    display: block;
    background-color: gray;
} 

.contenido {   
    background-color: #cddbe4;
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
    height: 600px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
    float: left;
    margin: 25px;
    width: 400px;
}

#informacion {
    float: right;
    width: 52%;
    margin: 25px;
}

#informacion h1 {
    font-family: 'Pattaya', sans-serif;
    font-size: 40px;
}

#informacion p {
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-size: 20px;
    margin-bottom: 40px;
}

#informacion a {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    background-color: #6db8ff;
    color: black;
    text-decoration: none;
    padding: 13px;
    border-radius: 5px;
}

#informacion a:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color: rgb(143, 143, 240);
}

#botoncito {
    float: left;
    margin-top: 15px;
    margin-left: 44px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    background: #f091a1;
    border-radius: 5px;
    padding: 13px;
    border: 0;
    color: inherit;
}

.botones {
    float: left;
    margin-top: 90px;
    margin-left: 44px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    background: #506666;
    border-radius: 5px;
    padding: 13px;
    border: 0;
    color: white;
    cursor: pointer;
}


button:hover{
    cursor: pointer;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color: rgb(89, 89, 129);   
    
}

button[disabled=disabled], button:disabled {
    cursor: no-drop;
    color:#fff;
    border-color: #a0a0a0;
    background-color: #a0a0a0;
    box-shadow: none;
}

#contenerdor-botones {
    float: left;
}



